<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fi.uba.udpsocket" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".screens.login.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".screens.login.CreateActivity"
            android:label="@string/title_activity_create" >
        </activity>
        <activity
            android:name=".UdpActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".UdpService"
            android:exported="false">
        </service>

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" >
        </receiver>

        <activity
            android:name=".screens.installations.InstallationsActivity"
            android:label="@string/title_activity_installations" >
        </activity>
    </application>

</manifest>
